* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  background: #E5E5E5;
  padding-top: 46px; }

.header {
  background: #0050B3;
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99; }

.m-menu {
  border: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  background: transparent;
  padding: 0;
  margin: 1px; }
  .m-menu .line {
    height: 2px;
    width: 100%;
    background-color: #fff; }

.header-block {
  margin: auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-block .search {
    display: inline; }
    .header-block .search .search-input {
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      height: 32px;
      width: 336px;
      border: 1px solid #D9D9D9;
      border-radius: 6px;
      padding: 5px 30px 5px 12px;
      background-image: url(../../img/svg/search-icon.svg);
      background-repeat: no-repeat;
      background-position: right 12px center; }
  .header-block .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-block .navigation .navigation-panel {
      margin-left: 12px;
      margin-right: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-block .navigation .navigation-panel .naviganion-link {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        margin-left: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header-block .navigation .navigation-panel .naviganion-link:before {
          content: '';
          height: 16px;
          width: 1px;
          background: #003A8C;
          margin-right: 12px; }
        .header-block .navigation .navigation-panel .naviganion-link:last-child:after {
          content: '';
          height: 16px;
          width: 1px;
          background: #003A8C;
          margin-left: 12px; }
    .header-block .navigation .icons-panel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-block .navigation .icons-panel .icon-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none; }
        .header-block .navigation .icons-panel .icon-link:hover {
          fill: #fff; }
        .header-block .navigation .icons-panel .icon-link:last-child:before {
          content: '';
          height: 16px;
          width: 1px;
          background: #003A8C;
          margin-left: 12px; }
      .header-block .navigation .icons-panel .header-icon {
        fill: #002766;
        margin-left: 12px; }
        .header-block .navigation .icons-panel .header-icon:hover {
          fill: #fff; }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .user .user-avatar {
    margin-right: 8px; }
  .user .user-name {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600; }

.container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-sidebar {
  width: 192px;
  margin-top: 18px;
  margin-right: 18px; }
  .menu-sidebar .user-avatar {
    width: 24px;
    height: 24px; }
  .menu-sidebar .user-name {
    color: #262626;
    font-weight: normal; }
  .menu-sidebar .user {
    padding-left: 10px; }
  .menu-sidebar .nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px; }
    .menu-sidebar .nav-group .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 4px 8px;
      text-decoration: none;
      color: #595959;
      border-radius: 4px;
      font-size: 14px;
      line-height: 22px;
      font-weight: normal; }
    .menu-sidebar .nav-group .nav-link.active {
      background: #FFFFFF;
      color: #262626;
      font-weight: 600; }
    .menu-sidebar .nav-group .nav-text {
      margin-left: 8px; }
    .menu-sidebar .nav-group .nav-title {
      margin-top: 0;
      margin-bottom: 4px;
      padding-left: 10px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 600; }

.main-feed {
  max-width: 588px;
  margin-top: 18px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.create-post {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden; }

.create-post-header {
  background: #F5F5F5;
  padding: 9px 16px; }

.create-post-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 600; }

.create-post-body {
  padding: 16px 16px 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .create-post-body .user-avatar {
    width: 40px;
    height: 40px; }
  .create-post-body .create-post-input {
    padding-top: 8px;
    padding-left: 16px;
    width: 100%;
    color: #8C8C8C;
    overflow: hidden; }

.create-post-footer {
  padding: 0px  16px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .create-post-footer:active {
    border: none; }
  .create-post-footer:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin-bottom: 16px; }

.tag {
  background: #F5F5F5;
  border-radius: 48px;
  min-height: 40px;
  border: none;
  padding: 9px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feed-icon {
  margin-right: 8px; }

.post {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px; }

.post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px; }
  .post-header .user .user-avatar {
    height: 48px;
    width: 48px;
    margin-right: 12px; }

.post-header-button {
  background: #fff;
  border: none; }

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.post-author {
  color: #0050B3;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600; }

.post-info-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.post-time {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal; }
  .post-time:after {
    display: inline-block;
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #BFBFBF;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: middle; }

.post-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #595959; }
  .post-text a {
    color: green;
    text-decoration: none;
    color: #1890FF; }

.post-image {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  width: 100%; }

.likes {
  margin-top: 8px;
  margin-bottom: 9px; }

.likes-counter {
  font-size: 14px;
  line-height: 22px;
  color: #595959; }

.post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .post-footer:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin-bottom: 16px; }

.post-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959; }

.post-button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px; }

.right-sidebar {
  width: 384px;
  margin-left: 53px; }
  .right-sidebar .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px; }
  .right-sidebar a {
    text-decoration: none; }

.stories {
  padding: 16px 16px 16px 24px;
  margin-top: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px; }

.stories-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 16px; }

.stories-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #262626; }

.story-button-link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #0050B3; }
  .story-button-link:first-child:after {
    content: '';
    height: 4px;
    width: 4px;
    background: #BFBFBF;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle; }

.story-icon {
  vertical-align: sub;
  margin-right: 5px; }

.images-add {
  height: 48px;
  width: 48px;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1890FF;
  margin-right: 12px; }

.story-item-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.story-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.story-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0050B3; }

.stories-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8C8C8C; }

.story-item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 1250px) {
  .right-sidebar {
    display: none; }
  .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header-block {
    margin-left: 2%;
    margin-right: 2%; } }

@media screen and (max-width: 960px) {
  .container {
    width: 95%; }
  .header .user {
    display: none; } }

@media screen and (max-width: 800px) {
  .menu-sidebar {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    max-width: 250px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #cecdcd;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
    .menu-sidebar.active {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
  .m-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
  .m-menu:checked ~ .line {
    background: red; }
  .header-block {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .search-input {
    display: none; } }
